# Visual Studio Code #
.vscode/

# Visual Studio 2019 #
.vs/
bin/
obj/
*.suo
*.user
*.sln.cache
*.ipch
*.dll
*.exe
*.pdb
*.userprefs
*.bak
*.cache
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.lastbuildstate
